{% extends 'visit/base.html' %}
{% block title %}绑定{% endblock %}
{% block content %}
    <br/>
    <div class="weui-msg">
        <div class="weui-msg__icon-area">
            <!--<i class="weui-icon-success weui-icon_msg"></i>-->
            <i class="weui-icon-waiting weui-icon_msg"></i>
        </div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">待审核</h2><br/>
            <p class="weui-msg__desc">请等待管理员审核。通过审核即可登录。</p>
        </div>
    </div>
{% endblock %}